asgiref==3.12.1
cloudpickle==3.1.2
colorama==0.4.6
django-cors-headers==4.9.0
Django==6.1.1
djangorestframework==3.18.1
graphql-core==3.2.12
joblib==1.6.0
narwhals==2.26.0
numpy==2.5.3
pillow==12.3.0
psycopg-binary==3.3.6
psycopg==3.3.6
PyOTP==2.10.0
python-dotenv==1.2.3
qrcode==8.2
scikit-learn==1.9.1
scipy==1.18.1
sqlparse==0.6.0
threadpoolctl==3.7.0
tzdata==2026.4
ultralytics==8.4.159
