.dart_tool/
.packages
build/
.flutter-plugins*
.idea/
*.iml
.DS_Store
android/local.properties
android/key.properties
*.jks
*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
coverage/
.env
# Widget Preview related
.widget_preview/
